#money-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-container {
    text-align: center;
    width: 700px;
    background-color: aliceblue;
}

.save-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#body {
    background-color: rgba(250, 128, 114, 0.281);
}